<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/plantilla}">
<head>
    <title>Brackets</title>
    <link rel="stylesheet" th:href="@{/css/brackets.css}">
</head>
<body>

<div layout:fragment="contenido">
    <div class="top-bar">
        <button class="boton">Volver</button>
        <div class="titulo">
            <h1>FIFA FC 25</h1>
            <p>Bracket del Torneo</p>
        </div>
        <button class="boton">Actualizar</button>
    </div>


    <div class="bracket-container">
        <div class="round round-1">
            <div class="round-title">RONDA X</div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador A</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador B</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
        </div>
        <div class="round round-2">
            <div class = "round-title">RONDA X</div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador A</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
        </div>
        <div class="round round-3">
            <div class = "round-title">RONDA X</div>
            <div class ="enfrentamiento final-enfrentamiento">
                <div class="jugador">Jugador A</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador G</div>
            </div>
            <div class ="enfrentamiento final-enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
        </div>
        <div class="round round-2">
            <div class = "round-title">RONDA X</div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador F</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador G</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
        </div>
        <div class="round round-1">
            <div class = "round-title">RONDA X</div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador E</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador F</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador G</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador H</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
            <div class ="enfrentamiento">
                <div class="jugador">Jugador C</div>
                <div class="vs">vs</div>
                <div class="jugador">Jugador D</div>
            </div>
        </div>
    </div>

</div>

</body>
</html>