<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/plantilla}">
<head>

  <link rel="stylesheet" th:href="@{/css/torneosdisponibles.css}">
</head>
<body>

<div layout:fragment="contenido">
  <header class="main-header">
    <h2 class="title-torneo glitch">TORNEOS PARA NINTENDO SWITCH</h2>
  </header>
  <div class="cards-container">

    <!-- Tarjeta dinámica -->
    <div class="card" th:each="torneo : ${torneos}">
      <div class="card-inner">
        <img th:src="@{'/images/' + ${'logo' + #strings.replace(#strings.toLowerCase(torneo.gameName), ' ', '')} + '.png'}" class="card-img" alt="${torneo.gameName}" />
        <div class="card-content">
          <h3 style="font-size:16px" th:text="${torneo.gameName}">Nombre del juego</h3>
          <div class="info">
            <p><span class="label">Juego:</span> <span class="value" th:text="${torneo.gameName}">Nombre del juego</span></p>
            <p><span class="label">Modalidad:</span> <span class="value" th:text="${torneo.modality}">Modalidad</span></p>
            <p><span class="label">Plazas:</span> <span class="value" th:text="${torneo.maxTeams + ' equipos'}">10 equipos</span></p>
            <p><span class="label">Inscritos:</span> <span class="value">jugadores inscritos</span></p>
            <p><span class="label">Comienza:</span> <span class="value" th:text="${torneo.initialDate + ' - ' + torneo.initialHour}">fecha - hora</span></p>
            <p><span class="label">Inicio de inscripción:</span> <span class="value" th:text="${torneo.closeDate + ' - ' + torneo.closeHour}">fecha - hora</span></p>
          </div>
          <a th:href="@{'/torneos/inscripciontorneo?id=' + ${torneo.id}}">
            <button>Inscribirse</button>
          </a>
        </div>
      </div>
    </div>

<!--    &lt;!&ndash; Tarjeta 2 &ndash;&gt;-->
<!--    <div class="card">-->
<!--      <div class="card-inner">-->
<!--        <img th:src="@{/images/logomariokart.png}" class="card-img" alt="Mario Kart 8" />-->
<!--        <div class="card-content">-->
<!--          <h3>Mario Kart 8</h3>-->
<!--          <div class="info">-->
<!--            <p><span class="label">Juego:</span> <span class="value">Mario Kart 8</span></p>-->
<!--            <p><span class="label">Modalidad:</span> <span class="value">5v5</span></p>-->
<!--            <p><span class="label">Plazas:</span> <span class="value">16 personas</span></p>-->
<!--            <p><span class="label">Inscritos:</span> <span class="value">6 personas</span></p>-->
<!--            <p><span class="label">Inicio:</span> <span class="value">01/06/2025 - 18:00</span></p>-->
<!--            <p><span class="label">Cierre:</span> <span class="value">31/05/2025</span></p>-->
<!--          </div>-->
<!--          <button>Inscribirse</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Tarjeta 3 &ndash;&gt;-->
<!--    <div class="card">-->
<!--      <div class="card-inner">-->
<!--        <img th:src="@{/images/logosmashbrosultimate.png}" class="card-img" alt="Super Smash Bros" />-->
<!--        <div class="card-content">-->
<!--          <h3>Super Smash Bros</h3>-->
<!--          <div class="info">-->
<!--            <p><span class="label">Juego:</span> <span class="value">Super Smash Bros</span></p>-->
<!--            <p><span class="label">Modalidad:</span> <span class="value">AllvAll</span></p>-->
<!--            <p><span class="label">Plazas:</span> <span class="value">10 jugadores</span></p>-->
<!--            <p><span class="label">Inscritos:</span> <span class="value">6 jugadores</span></p>-->
<!--            <p><span class="label">Inicio:</span> <span class="value">01/06/2025 - 18:00</span></p>-->
<!--            <p><span class="label">Cierre:</span> <span class="value">31/05/2025</span></p>-->
<!--          </div>-->
<!--          <button>Inscribirse</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Tarjeta 4 &ndash;&gt;-->
<!--    <div class="card">-->
<!--      <div class="card-inner">-->
<!--        <img th:src="@{/images/logopokemonvgc.png}" class="card-img" alt="Pokemon VGC" />-->
<!--        <div class="card-content">-->
<!--          <h3>Pokemon VGC</h3>-->
<!--          <div class="info">-->
<!--            <p><span class="label">Juego:</span> <span class="value">Pokemon VGC</span></p>-->
<!--            <p><span class="label">Modalidad:</span> <span class="value">1v1</span></p>-->
<!--            <p><span class="label">Plazas:</span> <span class="value">10 jugadores</span></p>-->
<!--            <p><span class="label">Inscritos:</span> <span class="value">6 jugadores</span></p>-->
<!--            <p><span class="label">Inicio:</span> <span class="value">01/06/2025 - 18:00</span></p>-->
<!--            <p><span class="label">Cierre:</span> <span class="value">31/05/2025</span></p>-->
<!--          </div>-->
<!--          <button>Inscribirse</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Tarjeta 5 &ndash;&gt;-->
<!--    <div class="card">-->
<!--      <div class="card-inner">-->
<!--        <img th:src="@{/images/logosplatoon3.png}" class="card-img" alt="Splatoon 3" />-->
<!--        <div class="card-content">-->
<!--          <h3>Splatoon 3</h3>-->
<!--          <div class="info">-->
<!--            <p><span class="label">Juego:</span> <span class="value">Splatoon 3</span></p>-->
<!--            <p><span class="label">Modalidad:</span> <span class="value">4v4</span></p>-->
<!--            <p><span class="label">Plazas:</span> <span class="value">10 equipos</span></p>-->
<!--            <p><span class="label">Inscritos:</span> <span class="value">6 equipos</span></p>-->
<!--            <p><span class="label">Inicio:</span> <span class="value">01/06/2025 - 18:00</span></p>-->
<!--            <p><span class="label">Cierre:</span> <span class="value">31/05/2025</span></p>-->
<!--          </div>-->
<!--          <button>Inscribirse</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Tarjeta 6 &ndash;&gt;-->
<!--    <div class="card">-->
<!--      <div class="card-inner">-->
<!--        <img th:src="@{/images/logosplatoon3.png}" class="card-img" alt="Splatoon 3" />-->
<!--        <div class="card-content">-->
<!--          <h3>Splatoon 3</h3>-->
<!--          <div class="info">-->
<!--            <p><span class="label">Juego:</span> <span class="value">Splatoon 3</span></p>-->
<!--            <p><span class="label">Modalidad:</span> <span class="value">4v4</span></p>-->
<!--            <p><span class="label">Plazas:</span> <span class="value">10 equipos</span></p>-->
<!--            <p><span class="label">Inscritos:</span> <span class="value">6 equipos</span></p>-->
<!--            <p><span class="label">Inicio:</span> <span class="value">01/06/2025 - 18:00</span></p>-->
<!--            <p><span class="label">Cierre:</span> <span class="value">31/05/2025</span></p>-->
<!--          </div>-->
<!--          <button>Inscribirse</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="pagination">
    <button class="button-49" role="button">ANTERIOR</button>
    <button class="button-49" role="button">SIGUIENTE</button>
  </div>
</div>
</body>
</html>