<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:layout="ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/plantilla}">

<head>
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/aboutus.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>


<div layout:fragment="contenido">

    <div class="wrapper">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>¿Quiénes somos?</h2>
                <p>Somos un grupo de personas a las que les encanta jugar y pasarlo bien juntas. Creemos en los videojuegos como una forma de conectar, compartir y disfrutar, sin presión ni requisitos, solo ganas de divertirse.</p>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>¿Cómo surgió la idea?</h2>
                <p>La idea surgió de algo muy simple:
                    La idea nació de nuestras ganas de pasarlo bien jugando y aplicar lo que aprendemos en clase. Queríamos crear algo divertido, útil y que nos representara como equipo.</p>

            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Nuestra comunidad</h2>
                <p>Creemos en construir un espacio donde todos se sientan bienvenidos.Tanto si estás empezando como si llevas años jugando, aquí hay sitio para ti. Lo importante no es el nivel, sino pasarlo bien y compartir buenas vibras.</p>

            </div>
        </div>
    </div>

</div>

</body>
</html>